/* Clean Slate */
body {
    min-height: 100vh;
    background-color: #bebebe;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    max-width: 350px;;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    background-color: #f0f0f0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .10);
    border-radius: 5px;
}

.dice__holder {
    display: flex;
    justify-content: space-around;
    padding: 2em;;
}

.dice {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.dashboard {
    background-color: #D30C23;
    padding: 2em;;
    text-align: center;
}

#result {
    margin-bottom: 1em;
    color: #fff;
}

#roll {
    padding: 1em 0;
    width: 100%;

    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    cursor: pointer;
    
    color: rgb(255, 255, 255);
    font-weight: 700;

    transition-property: border, background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

#roll:hover {
    border: 3px solid rgb(3, 206, 165);
    background-color: rgba(3, 206, 165, 1);
}